{#
_______________________________________________________________________________

                            HEADER DU PORTFOLIO
_______________________________________________________________________________
#}

<!-- -------- -->
<!-- HEADER : -->
<!-- -------- -->


<header class="container-fluid py-2 background-header">

<div class="container-fluid">
    <div class="row">
        <!-- Logo : -->
       

        <div class="ms-0 col-8 m-0 p-0 align-content-center text-center d-none d-md-block">
            <!-- Titre principal : -->
            <h1 class="m-0 p-0 ">{{ SITENAME }}</h1>


            <!-- Titre secondaire : -->
            <p class="m-0 p-0">
                <i>{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</i>
            </p>

        </div>
    </div>

</div>
    
</header>


<!-- NAVBAR : -->
<div class="container-fluid m-0 p-0 sticky-top bg-dark shadow">
    {% include 'includes/navbar.html' %}
</div>